---
layout: default
title: Home
---

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="padding-left: 0;">
			<h1>Recent Posts</h1>

			{% if site.posts %}
			    {% for post in site.posts offset:0 limit:5 %}
			        <section class="post">
			            <header class="post-header">
			                <h2 class="post-title">
			                	<a href="{{ post.url }}">{{ post.title }}</a>
			                	<br>
			                	<small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time></small>
			                </h2>
			            </header>
			            <div class="post-description">
										{% if post.excerpt %}
											{{ post.excerpt }}
											<br>
											Read the <a href="{{ post.url }}">full post here.</a>
										{% else %}
			            		{{ post.content }}
										{% endif %}
			            </div>
			            <div class="clearfix"></div>
			        </section>
			    {% endfor %}
			{% else %}
			    <p>No posts found.</p>
			{% endif %}
		</div>
	</div>
</div>

<div class="alert alert-info">
	The entire blog is <a href="/text/index.html">available here</a>.
</div>
