<h1>Blogs</h1>

{% include blogs.html %}

<h1>Coding Challenges</h1>

<p>
When free I do attempt to solve some of the coding challenges that keep happening
and below is the list of all the ones that I have completed along with the complete
source code to the solutions.
</p>

<h1>Open Source</h1>

<p>
I try and do my bit in the world of open source - code pieces that are reusable or
build tools, libraries and systems that can directly be used. The following are the
projects that are mature and have some complete functionality to be used:
</p>

<h1>Experiments</h1>

<p>
A developer's mind is always drifting where new ideas keep flowing. Following are some
of the experiments/prototypes of tools, libraries and systems that I have made at such
times in the hope that one day they will grow up to be of use to someone. For now, they
are open for anyone to help raise them.
</p>
