<header>
  <nav class="navbar navbar-default fixed-top navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="/">sangupta</a>
    <div class="navbar-nav mr-auto">
      <a class='nav-item nav-link' href="/blogs.html">Blogs</a>
      <a class='nav-item nav-link' href="/projects/index.html">Projects</a>
      <a class='nav-item nav-link' href="/projects/index.html#experiments">Experiments</a>
    </div>
    <div class="navbar-nav navbar-right ml-auto">
  		<a class='nav-item nav-link' href="/resume.html">R&eacute;sum&eacute;</a>
      <a class='nav-item nav-link' href="/about.html">About Me</a>
    </div>
  </nav>
</header>
