<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">sangupta</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/blogs.html">Blogs</a></li>
        <li><a href="/projects/index.html">Projects</a></li>
        <li><a href="/experiments/index.html">Experiments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about.html#contactme">Contact</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>
  </div>
</nav>
