<!--
<ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
-->

<div class="relative full-height">
	<div class="center-block">
		<img src="http://placehold.it/200x200" alt="Sandeep Gupta" class="img-circle img-responsive" >
	</div>
	<div class="bottom footer">
		Copyright &copy; 2006-2014
		<br>
		Sandeep Gupta. All rights reserved.
	</div>
</div>