---
layout: default
---

{% assign post = page %}

{% include onepost.html %}

<nav>
    <ul class="pagination justify-content-center">
        {% if page.previous.url %}
        <li class="page-item">
            <a class='page-link' href="{{page.previous.url}}">
                <span aria-hidden="true">&larr;</span> {{page.previous.title}}
            </a>
        </li>
        {% endif %}

        <li class='page-item disabled'>
            <span style='width: 100px'></span>
        </li>

        {% if page.next.url %}
        <li class="page-item">
            <a class='page-link' href="{{page.next.url}}">
                {{page.next.title}} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {% endif %} 
    </ul>
</nav>

<div id="disqus_thread"></div>
